<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      http://www.springframework.org/schema/aop   
      http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.0.xsd">


	<!-- 获取微信 accessToken  -->
	<bean id="wxAccessTokenTaskBean" class="com.tangdi.production.mpnotice.schedule.WXAccessTokenTask" />
	<bean id="wxAccessTokenTaskDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
	    <property name="targetObject">  
	        <ref bean="wxAccessTokenTaskBean"/>  
	    </property>  
	    <property name="targetMethod">  
	        <value>run</value>  
	    </property>         
	</bean>  
	
	<bean id="wxAccessTokenTask" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="wxAccessTokenTaskDetail" />
		<!-- 每 1小时 运行 -->
		<property name="cronExpression" value="0 */5 * * * ?" />
	</bean>

	<bean id="schedulerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="wxAccessTokenTask" />
			</list>
		</property>
		<property name="configLocation" value="classpath:mpnotice/conf-mpnotice/quartz.properties" />
	</bean>

</beans>